
<div class="p-3">
   
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>

                <th>Radio button</th>
                <th>Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Postal Code</th>
                <th>Phone Number</th>
                 


            </tr>
        </thead>
    </table>
</div>
<<div class="col-6 text-end">
    <div class="btn-group">
        <a asp-controller="Home" asp-action="AddAddress" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> &nbsp; Create New Address
        </a>
        <a  class="btn btn-success"onclick="addresschng()" >
            Change Address
        </a>
    </div>
</div>

    


@section Scripts{
    <script src="~/js/AddressChangejs.js"></script>
}


    <script>
        function addresschng() {

        var addressid = document.querySelector('input[name =addressRadio ]:checked').value;
            
            console.log(addressid);

        window.location.href = '/Customer/Cart/Summary?addressId=' + addressid;
        

           
            
        }
    </script>
