@model IEnumerable<BulkyBook.Models.Product>

<div class="row pb-3">
    <div class="col-md-6 offset-md-6 text-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" id="searchInput" style="width: 200px; height: 50px;">
            <!-- Adjust the width and height values according to your preferences -->
            <div class="input-group-append">
                <div class="input-group-text">
                    <button type="submit" id="searchButton" onclick="SearchSort()" style="width: 30; height: 25px;border:0px;">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
            <div class="ml-2">
                <!-- Add space to the left of the sort label -->
                <label for="dropdown">Sort:</label>
                <select class="custom-select" id="dropdown" onchange="SearchSort()" style="width: 200px; height: 45px;">
                    <option value="ProductName">Product Name</option>
                    <option value="PriceLowToHigh">Price from low to high</option>
                    <option value="PriceHighToLow">Price from high to low</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
                    <div class="card">
                        <img src="https://bulkyimages.blob.core.windows.net/productimages/@product.ImageUrl" class="card-img-top rounded" style="width:300px;height:300px;" />

                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h5 text-primary">@product.Title</p>
                                <p class="card-title text-info">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                @if (product.OfferAmount > 0)
                                {
                                    <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                                }
                                else
                                {
                                    <p>List Price: <b>$@product.ListPrice.ToString("0.00")</b></p>
                                }
                            </div>
                            <div class="pl-1">
                                
                                    <p>
                                        <span class="text-success">Offer Price: <b>$@product.OfferAmount.ToString("0.00")</b></span>
                                        <span class="text-info">Offer Percentage: <b>@product.OfferPercentage%</b></span>
                                    </p>
                                
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    var search = getParameterByName('SearchString');

    document.getElementById("searchInput").value = search;
    var sort = getParameterByName('SortOrder');
    document.getElementById("dropdown").value = sort;

    function SearchSort() {

        var searchInput = document.getElementById("searchInput").value;

        var sortInput = document.getElementById("dropdown").value;
        window.location.href = '?SearchString=' + searchInput + '&SortOrder=' + sortInput;

    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
</script>
