<div class="p-3">

<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            
            <th>Product Title</th>
            <th>Price</th>
            <th>Remove</th>
                
            
        </tr>
    </thead>
</table>
</div>

@section Scripts{
    <script src="~/js/WishList.js"></script>
}