@model Coupon

<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Coupon</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="StartDate"></label>
			<input asp-for="StartDate" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="ExpiryDate"></label>
			<input asp-for="ExpiryDate" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="CouponCode"></label>
			<input asp-for="CouponCode" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="OfferType"></label>
			<select asp-for="OfferType"disabled class="form-control">
				<option value="Percentage">Percentage</option>
				<option value="FixedAmount">Fixed Amount</option>
				<span asp-validation-for="OfferType"  class="text-danger"></span>
			</select>

		</div>
		<div class="mb-3">
			<label asp-for="OfferValue"></label>
			<input asp-for="OfferValue"disabled class="form-control" />
			<span asp-validation-for="OfferValue" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="minimumCartAmount"></label>
			<input asp-for="minimumCartAmount" disabled class="form-control" />
			<span asp-validation-for="minimumCartAmount" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="maxRedeemableAmt"></label>
			<input asp-for="maxRedeemableAmt" disabled class="form-control" />
			<span asp-validation-for="maxRedeemableAmt" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Coupon" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}